apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -three

commonLabels:
  app.kubernetes.io/name: three

resources:
  - ../base

patches:
  - path: rollout.patch.yaml
    target:
      kind: Rollout
